# Require C++20 (including for tools built in exec configuration).
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# Set up disk cache for faster local rebuilds.
build --disk_cache=.bazel-disk-cache

# Activate CI-specific config using ci.bazelrc, which is written when in CI.
try-import %workspace%/ci.bazelrc

# Set up BuildBuddy for remote cache in CI.
# https://www.buildbuddy.io/docs/quickstart/
# https://app.buildbuddy.io/docs/setup
build:ci --bes_results_url=https://app.buildbuddy.io/invocation/
build:ci --bes_backend=grpcs://remote.buildbuddy.io
common:ci --remote_cache=grpcs://remote.buildbuddy.io
common:ci --remote_cache_compression

# Configure BuildBuddy metadata.
# https://www.buildbuddy.io/docs/guide-metadata/
build:ci --build_metadata=REPO_URL=https://github.com/qobilidop/z3wire.git
build:ci --build_metadata=VISIBILITY=PUBLIC
