# Agent scratch space
/.agent_scratch/

# Bazel
/bazel-*
/.bazel-disk-cache/
/external
MODULE.bazel.lock

# Bazel CI config (written by CI workflow, contains API key).
/ci.bazelrc

# CMake
/build/

# clang-tidy
/compile_commands.json

# MkDocs
/site/
